# Import Necessery Library

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

# Read the Data

In [14]:
df = pd.read_csv("D:\Interns\Bharat intern\SMS Task\spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

# Explore The Data

In [15]:
df.shape

(5572, 2)

In [16]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [19]:
len(df[df.Category == "ham"]) # ham = not spam

4825

In [20]:
len(df[df.Category == "spam"])

747

In [21]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

# Cleaning the Data

In [22]:
df["spam"] = df["Category"].replace(to_replace=["ham", "spam"], value=[0,1])

In [23]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

# Train Test Split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam, test_size=0.2, random_state=43)

In [25]:
y_train

424     1
587     0
4024    0
3941    0
5440    0
       ..
307     0
2064    1
2325    0
2303    0
3392    0
Name: spam, Length: 4457, dtype: int64

In [26]:
X_train

424     URGENT! Your Mobile number has been awarded wi...
587     I dun thk i'll quit yet... Hmmm, can go jazz ?...
4024                      Well. Balls. Time to make calls
3941                            Does daddy have a bb now.
5440        Thank you. do you generally date the brothas?
                              ...
307                            Jos ask if u wana meet up?
2064    URGENT! Your mobile No *********** WON a £2,00...
2325                                              Ok lor.
2303                         We can make a baby in yo tho
3392                   I'm in a meeting, call me later at
Name: Message, Length: 4457, dtype: object

In [27]:
len(X_train[:1].to_list()[0].split())

22

In [28]:
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[0].shape

(7750,)

In [29]:
X_train_count

<4457x7750 sparse matrix of type '<class 'numpy.int64'>'
	with 59002 stored elements in Compressed Sparse Row format>

In [30]:
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [33]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9820627802690582

In [35]:
emails = [
    'Hey Mohamed, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [36]:
print(model.predict_proba(emails_count))

[[9.99957817e-01 4.21825897e-05]
 [3.57219603e-02 9.64278040e-01]]